.teams {
  text-align: center;
}

.h1 {
  font-size: 40px;
  color: #6278F7;
  border-bottom: 4px solid #6278F7;
  display: inline-block;
  padding-bottom: 8px;
  margin: 12px 0;
  margin-bottom: 48px;
}

.h1,
.h2 {
  font-family: 'Prata', serif;
}