.team {
    position: relative;
    text-align: center;
    padding: 32px;
    background-color: #d9f7e9;
}

.team h3 {
    font-size: 32px;
    border-bottom: 4px solid #57c278;
    display: inline-block;
    padding-bottom: 8px;
}

.team .agent {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}

.inputColor {
    position: absolute;
    top: 30px;
    right: 50px;
}