

.team {
    position: relative;
    text-align: center;
    padding: 28px;
    background-color: #d9f7e9;
}

.team h3 {
    font-size: 32px;
    border-bottom: 4px solid #57c278;
    display: inline-block;
    padding-bottom: 4px;
}

.team .agent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-gap: 20px;
    justify-content: space-evenly;
    margin-top: 12px;
    flex-wrap: wrap;
}


.team .logo {
    width: 40px;
    margin: 8px;
}

.team .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.inputColor {
    position: absolute;
    top: 30px;
    right: 50px;
}